.boton {
    background-color: beige;
    width: 100px;
    height: 100px;
    border: 0;
}

.boton:hover{
    color: white;
    background-color: green;
    
}

.boton::before {
    content: "Pasa por encima";
}

.boton:hover::before {
    content: "¡Hecho!"
}
